body{
    /*  */
    background-image: url('C:\Users\Gabi Sam\OneDrive\Documentos\Estudos Gabi\Curso Informática\PC2\Atividades\Site-tecnologias\Image')
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
}

.title
{
    
}