h1{
    font-size: 40px;
    text-align: center;
}

body{
    padding: 50px 10% 50px 10%;
    background-color: #1e202c;
    color: #cfcfd6; /*texto*/
    font-size: 20px;
}

p{
    text-align: justify;
    text-indent: 30px;
}

.textoCentral{
    text-align: center;
}

hr{
    width: 80%;
    margin: 20px auto;
}

a{
    color: #cfcfd6;         
    text-decoration: none;
}

a:hover{
    color: rgb(255, 178, 133);
}

.aInicio{
    font-size: 26px;
}

.containerCentral{
    /* background-color: #9c9fb3; */
    padding: 30px 10% 30px 10%;
    display: flex;
    justify-content: center;
}

.containerCentral img{
    
    width: 150px
}

.rodape{
    text-align: center;
    padding: 10px 10px 40px 10px;
 }

 .imgContainer{
    padding: 0px 5% 0px 5%;
 }


